/* Gruvbox Dark (Hard) color scheme */
:root {
    --COLOR-BACKGROUND: #1d2021e0;
    --COLOR-FOREGROUND: #fbf1c7e0;

    --COLOR-ACCENT: #d65d0ee0;
    --COLOR-ACCENT-BRIGHT: #fe8019e0;

    --COLOR-BLACK: #282828e0;
    --COLOR-RED: #cc241de0;
    --COLOR-GREEN: #98971ae0;
    --COLOR-YELLOW: #d79921e0;
    --COLOR-BLUE: #458588e0;
    --COLOR-MAGENTA: #b16286e0;
    --COLOR-CYAN: #689d6ae0;
    --COLOR-WHITE: #a89984e0;

    --COLOR-BLACK-BRIGHT: #928374e0;
    --COLOR-RED-BRIGHT: #fb4934e0;
    --COLOR-GREEN-BRIGHT: #b8bb26e0;
    --COLOR-YELLOW-BRIGHT: #fabd2fe0;
    --COLOR-BLUE-BRIGHT: #83a598e0;
    --COLOR-MAGENTA-BRIGHT: #d3869be0;
    --COLOR-CYAN-BRIGHT: #8ec07ce0;
    --COLOR-WHITE-BRIGHT: #ebdbb2e0;
    
    --newtab-background-color: var(--COLOR-BACKGROUND) !important;
    --newtab-background-color-secondary: var(--COLOR-BLACK) !important;
    --newtab-wordmark-color: var(--COLOR-FOREGROUND) !important;
    --newtab-text-primary-color: var(--COLOR-FOREGROUND) !important;
    --newtab-primary-action-background: var(--COLOR-ACCENT-BRIGHT) !important;
    --newtab-primary-action-background-dimmed: var(--COLOR-ACCENT) !important;
    --in-content-page-background: var(--COLOR-BACKGROUND) !important;
    --in-content-page-color: var(--COLOR-FOREGROUND) !important;
    --in-content-box-background: var(--COLOR-BACKGROUND) !important;
    --in-content-table-background: var(--COLOR-BACKGROUND) !important;
    --in-content-box-info-background: var(--COLOR-BLACK) !important;
    --in-content-primary-button-background: var(--COLOR-ACCENT) !important;
    --in-content-primary-button-background-hover: var(--COLOR-ACCENT-BRIGHT) !important;
    --in-content-primary-button-background-active: var(--COLOR-ACCENT-BRIGHT) !important;
    --in-content-primary-button-text-color: var(--COLOR-FOREGROUND) !important;
    --color-accent-primary: var(--COLOR-ACCENT) !important;
    --color-accent-primary-hover: var(--COLOR-ACCENT-BRIGHT) !important;
    --color-accent-primary-active: var(--COLOR-ACCENT-BRIGHT) !important;
    --button-background-color: var(--COLOR-BACKGROUND) !important;
    --button-background-color-hover: var(--COLOR-BLACK) !important;
    --button-background-color-active: var(--COLOR-BLACK-BRIGHT) !important;
    --border-interactive-color: var(--COLOR-WHITE) !important;
    --focus-outline-color: var(--COLOR-ACCENT-BRIGHT) !important;
    --gear-icon-fill: var(--COLOR-WHITE) !important;
    --hover-grey-link: var(--COLOR-WHITE-BRIGHT) !important;
    --social-color: var(--COLOR-MAGENTA) !important;
    --cookie-color: var(--COLOR-BLUE) !important;
    --tracker-color: var(--COLOR-CYAN) !important;
    --fingerprinter-color: var(--COLOR-ACCENT) !important;
    --cryptominer-color: var(--COLOR-WHITE) !important;
    --social-highlight-color: var(--COLOR-MAGENTA-BRIGHT) !important;
    --cookie-highlight-color: var(--COLOR-BLUE-BRIGHT) !important;
    --tracker-highlight-color: var(--COLOR-CYAN-BRIGHT) !important;
    --fingerprinter-highlight-color: var(--COLOR-ACCENT-BRIGHT) !important;
    --cryptominer-highlight-color: var(--COLOR-WHITE-BRIGHT) !important;
}
